* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

header {
    background-color: #121212;
    position: fixed;
}
.verthe{
    height: 129px;
}

.wid {
    width: 1520px;
    height: 40px;
    padding: 11px 0px;
    background-color: #121212;
    color: aliceblue;
}

.free {
    width: 1320px;
    height: 18px;
    margin: 0px 100px;
    padding: 0px 55px;
    color: aliceblue;
    text-align: center;
}

.free p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 13px;
    letter-spacing: 1px;
}
.ln{
    width: 100%;
    height: 1px;
    background-color: white;
    opacity: 10%;
}
.hed {
    width: 1320px;
    height: 89px;
    margin: 0px 100px;
    padding: 20px 55px;
    background-color: #121212;
    display: flex;
}

.im {
    width: 137px;
    height: 43px;
    margin: 0px 0px 0px -8.25px;
    padding: 11px 8.25px;
    font-size: 15.4px;
}

.im img {
    width: 120px;
    height: 26px;
}

ul {
    width: 385px;
    display: flex;
    margin-left: 25px;
    margin-right: 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

li {
    color: white;
    list-style: none;
    font-size: 15px;
    text-transform: capitalize;
    padding: 13px;
    letter-spacing: 1px;
}

.under {
    text-decoration: underline;
}
.op{
    opacity: 75%;
}
.icn {
    width: 700px;
    height: 49px;
    padding: 15px 0px;
    font-size: 10px;
    display: flex;
    justify-content: end;
    color: aliceblue;
}

.icn i {
    margin-left: 25px;
}

.bdy {
    width: 1520px;
    height: 1183px;
    background-color: #ffffff;
}

.page {
    width: 1320px;
    height: 1183px;
    margin: 0px 100px;
    padding: 36px 55px;
}

.page ul {
    width: 1210px;
    height: 1111px;
    margin: 0;
}

.sb1 {
    width: 396px;
    height: 363px;
    margin-bottom: 11px;
    margin-right: 11px;
    display: flex;
    justify-content: center;
}

.sb1 img {
    width: 362.29px;
    height: 362.29px;
}

.sb2 {
    width: 396px;
    height: 363px;
    margin-bottom: 11px;
    margin-right: 11px;
    display: flex;
    justify-content: center;
}

.sb2 img {
    width: 362.29px;
    height: 362.29px;
}

.sb3 {
    width: 396px;
    height: 363px;
    margin-bottom: 11px;
    margin-right: 11px;
    display: flex;
    justify-content: center;
}

.sb3 img {
    width: 362.29px;
    height: 362.29px;
}

.sb4 {
    width: 396px;
    height: 363px;
    margin-bottom: 11px;
    margin-right: 11px;
    display: flex;
    justify-content: center;
}

.sb4 img {
    width: 362.29px;
    height: 362.29px;
}

.sb5 {
    width: 396px;
    height: 363px;
    margin-bottom: 11px;
    margin-right: 11px;
    display: flex;
    justify-content: center;
}

.sb5 img {
    width: 362.29px;
    height: 362.29px;
}

.sb6 {
    width: 396px;
    height: 363px;
    margin-bottom: 11px;
    margin-right: 11px;
    display: flex;
    justify-content: center;
}

.sb6 img {
    width: 362.29px;
    height: 362.29px;
}

.sb7 {
    width: 396px;
    height: 363px;
    margin-bottom: 11px;
    margin-right: 11px;
    display: flex;
    justify-content: center;
}

.sb7 img {
    width: 362.29px;
    height: 362.29px;
}

.sb8 {
    width: 396px;
    height: 363px;
    margin-bottom: 11px;
    margin-right: 11px;
    display: flex;
    justify-content: center;
}

.sb8 img {
    width: 362.29px;
    height: 362.29px;
}

.sb9 {
    width: 396px;
    height: 363px;
    margin-bottom: 11px;
    margin-right: 11px;
    display: flex;
    justify-content: center;
}

.sb9 img {
    width: 362.29px;
    height: 362.29px;
}

.aft {
    width: 1520px;
    height: 601px;
}

.in {
    width: 1320px;
    height: 601px;
    margin: 0px 100px;
    padding: 36px 55px;
    display: flex;
}

.in img {
    width: 394px;
    height: 530px;
}

.imtex {
    width: 815px;
    height: 529px;
}

.imtex h2 {
    font-size: 24px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 66px;
    margin-left: 77px;
    text-transform: capitalize;
    font-weight: 400;
    letter-spacing: 0.6px;
}

.imtex p {
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 22px;
    margin-left: 77px;
    color: #121212B3;
}

.imtex button {
    margin-left: 77px;
    margin-top: 33px;
    width: 143px;
    height: 52px;
    font-size: medium;
    letter-spacing: 1px;
    text-transform: capitalize;
    color: #ffffff;
    background-color: #121212;
}
.foot{
    width: 1520px;
    height: 469px;
}
.f1{
    width: 1520px;
    height: 469px;
    margin-top: 48px;
    padding: 36px 0px;
    background-color: #121212;
}
.cont{
    width: 1320px;
    height: 309px;
    margin: 0px 100px;
    padding: 0px 55px 55px;
}
.bloc{
    width: 1210px;
    height: 172px;
}
.bloc h2{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    color: #ffffff;
    font-weight: 400;
    line-height: 23.4px;
    letter-spacing: 0.6px;
    text-align: center;
    margin-bottom: 22px;
}
.bloc p{
    margin: 18px;
    color: #ffffff;
    font-size: 17px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    letter-spacing: 0.66px;
    line-height: 30.4px;
    text-align: center;
    opacity: 75%;
}
.insta{
    width: 1210px;
    height: 49px;
    margin-top: 33px;
    display: flex;
    justify-content: center;
}
.insta i{
    padding: 15px;
    font-size: 22px;
    line-height: 27px;
}
.line{
    width: 100%;
    height: 1px;
    background-color: #ffffff;
    opacity: 10%;
}
.last{
    width: 1520px;
    height: 89px;
    padding: 33px 0px 0px;
}
.l1{
    width: 1320px;
    height: 55px;
    margin: 0px 100px;
    padding: 0px 55px;
}
.inl{
    width: 883px;
    height: 55px;
    padding-top: 38px;
}
.inl p{
    color: #ffffff;
    font-size: 12.1px;
    font-weight: 400;
    letter-spacing: 0.77px;
    line-height: 19px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration-style:solid;
    text-decoration-thickness: auto;
    opacity: 75%;
}